<h1>craft app</h1>

<% if logged_in? %>
  <h3>Welcome to Craft App <%= current_user['first_name'] %></h3>

  <section class="controls">
    <form action="/sessions" method="POST">
      <input type="hidden" name="_method" value="delete">
      <button>Log out</button>
    </form>

  <a href="/craft/new">Add a project</a>
  </section>

  <section class="crafts">
    <% craft.each do |craft| %>
      <section class="craft">
        <header>
          
          <h2><%= craft['project_name'] %></h2>
          <section class="controls">
            <form action="/crafts/<%= craft['id'] %>/edit" method="GET">
            <button>Edit</button>
            </form> 

           

            <form action="/crafts/<%= craft['id'] %>" method="POST">
              <input type="hidden" name="_method" value="delete">
              <button>Delete</button>
            </form>

             <form action="/crafts/<%= craft['id'] %>/likes" method="POST">
              <button>Like</button>
            </form>
          </section>
            <img src="<%= craft['image_url'] %>" alt="">
        </header>
      </section>
    <% end %>
    </section>
<% else %>
  <a href="/users/new">Sign Up</a>
  <a href="/sessions/new">Log In</a>
<% end %>